<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>geist-sans-latin-100-normal.ttf</string>
		<string>geist-sans-latin-200-normal.ttf</string>
		<string>geist-sans-latin-300-normal.ttf</string>
		<string>geist-sans-latin-400-normal.ttf</string>
		<string>geist-sans-latin-500-normal.ttf</string>
		<string>geist-sans-latin-600-normal.ttf</string>
		<string>geist-sans-latin-700-normal.ttf</string>
		<string>geist-sans-latin-800-normal.ttf</string>
		<string>geist-sans-latin-900-normal.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
